
<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="#">Cultura 7/25 %</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Gente 6/20 %</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Operacion 3/15 %</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="#">Clientes 3/15 %</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Desempeño 9/15 %</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Normatividad 3/10 %</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Licencias 2/5 %</a>
    </li>  
  </ul>

<!--
<div class="col-12">        
    <div class="card text-center border-0">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">         

          <li class="nav-item">
            <a class="nav-link" href="#">Cultura 7/25 %</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Gente 6/20 %</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Operacion 3/15 %</a>
          </li>
          <li class="nav-item">
              <a class="nav-link active" href="#">Clientes 3/15 %</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Desempeño 9/15 %</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Normatividad 3/10 %</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Licencias 2/5 %</a>
          </li>  

        </ul>
      </div>
      <div class="card-body">
        <h4 class="card-title">Titulo de la tarjeta</h4>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lectus sem, 
                              tempor vitae mattis malesuada, ornare sed erat. Pellentesque nulla dui, congue
                              nec tortor sit amet, maximus mattis dui. </p>
        <a href="#" class="btn btn-primary">Entrar</a>
      </div>
    </div>          
</div>
-->


<!--

<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="#">Cultura 7/25 %</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Gente 6/20 %</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Operacion 3/15 %</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="#">Clientes 3/15 %</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Desempeño 9/15 %</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Normatividad 3/10 %</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Licencias 2/5 %</a>
    </li>  
  </ul>
-->

<!--
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
    <li><a data-toggle="tab" href="#menu1">Menu 1</a></li>
    <li><a data-toggle="tab" href="#menu2">Menu 2</a></li>
    <li><a data-toggle="tab" href="#menu3">Menu 3</a></li>
  </ul>

  
<div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h3>HOME</h3>
      <p>Some content.</p>
    </div>
    <div id="menu1" class="tab-pane fade">
      <h3>Menu 1</h3>
      <p>Some content in menu 1.</p>
    </div>
    <div id="menu2" class="tab-pane fade">
      <h3>Menu 2</h3>
      <p>Some content in menu 2.</p>
    </div>
  </div>
-->
