
<div id="lista">
    <ul class="list-group">
        <li (click)="asignarTsk( 1 )" class="list-group-item d-flex align-items-left">          
            <span class="badge badge-danger badge-pill">60% </span>
        TSK Orion
        </li>
        <li (click)="asignarTsk( 2 )" class="list-group-item d-flex align-items-left">
            <span class="badge badge-danger badge-pill">70% </span>
        TSK Barrancos      
        </li>
        <li (click)="asignarTsk( 3 )" class="list-group-item d-flex align-items-left">
            <span class="badge badge-warning badge-pill">80% </span>
        TSK Navolato
        </li>
        <li (click)="asignarTsk( 4 )" class="list-group-item d-flex align-items-left">
            <span class="badge badge-warning badge-pill">83% </span>
        TSK Sanalona
        </li>
        <li (click)="asignarTsk( 5 )" class="list-group-item d-flex align-items-left">
            <span class="badge badge-success badge-pill">85% </span>
        TSK Zapata
        </li>
        <!--
        <li (click)="tsk = 6" class="list-group-item d-flex align-items-left">
            <span class="badge badge-success badge-pill">100% </span>
        TSK Humayas
        </li>
        -->
    </ul>
</div>
