<!--
<button (click)="crearMarcador()">
    Crear marcador
</button>
-->
<div id='mapa'></div>




<!--
<div class="row p-2 ">
    <div class="col-md-9">
      
        <div *ngIf="tsk == 1">      
        <div style="display: block;">
        <canvas baseChart width="700" height="200"
                    [datasets]="lineChartData1"
                    [labels]="lineChartLabels"                  
                    [chartType]="'line'"                  
                    ></canvas>
        </div>
       </div>
        <div *ngIf="tsk == 2">      
        <div style="display: block;">
        <canvas baseChart width="700" height="200"
                    [datasets]="lineChartData2"
                    [labels]="lineChartLabels"                  
                    [chartType]="'line'"                  
                    ></canvas>
       </div>
       </div>
       <div *ngIf="tsk == 3">      
        <div style="display: block;">
        <canvas baseChart width="700" height="200"
                    [datasets]="lineChartData3"
                    [labels]="lineChartLabels"                  
                    [chartType]="'line'"                  
                    ></canvas>
       </div>
       </div>
       <div *ngIf="tsk == 4">      
        <div style="display: block;">
        <canvas baseChart width="700" height="200"
                    [datasets]="lineChartData4"
                    [labels]="lineChartLabels"                  
                    [chartType]="'line'"                  
                    ></canvas>
       </div>
        </div>
       <div *ngIf="tsk == 5">      
        <div style="display: block;">
        <canvas baseChart width="700" height="200"
                    [datasets]="lineChartData5"
                    [labels]="lineChartLabels"                  
                    [chartType]="'line'"                  
                    ></canvas>
       </div>
       </div>
       <div *ngIf="tsk == 6">      
        <div style="display: block;">
        <canvas baseChart width="700" height="200"
                    [datasets]="lineChartData6"
                    [labels]="lineChartLabels"                  
                    [chartType]="'line'"                  
                    ></canvas>
       </div>
       </div>       
  </div>
</div>
-->



<app-grafica [tsk]="tsk"></app-grafica>
<!--
<div id="lista">
    <ul class="list-group">
        <li (click)="tsk = 1" class="list-group-item d-flex align-items-left">          
            <span class="badge badge-danger badge-pill">60% </span>
        TSK Orion
        </li>
        <li (click)="tsk = 2" class="list-group-item d-flex align-items-left">
            <span class="badge badge-danger badge-pill">70% </span>
        TSK Barrancos      
        </li>
        <li (click)="tsk = 3" class="list-group-item d-flex align-items-left">
            <span class="badge badge-warning badge-pill">80% </span>
        TSK Navolato
        </li>
        <li (click)="tsk = 4" class="list-group-item d-flex align-items-left">
            <span class="badge badge-warning badge-pill">83% </span>
        TSK Sanalona
        </li>
        <li (click)="tsk = 5" class="list-group-item d-flex align-items-left">
            <span class="badge badge-success badge-pill">85% </span>
        TSK Zapata
        </li>

        <li (click)="tsk = 6" class="list-group-item d-flex align-items-left">
            <span class="badge badge-success badge-pill">100% </span>
        TSK Humayas
        </li>        
    </ul>
</div>
-->
