<!--
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">México</a></li>
      <li class="breadcrumb-item"><a href="#">Region</a></li>
      <li class="breadcrumb-item"><a href="#">Division</a></li>
      <li class="breadcrumb-item active" aria-current="page">Célula: Culiacán</li>
    </ol>
  </nav>
-->

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">País:Mexico</a></li>
      <li class="breadcrumb-item"><a href="#">Región:Noroeste</a></li>
      <li class="breadcrumb-item"><a href="#">Division:Pacífico</a></li>
      <li class="breadcrumb-item"><a href="#">Plaza: Culiacan</a></li>
      <li class="breadcrumb-item active" aria-current="page">Célula: C1 Cul</li>
    </ol>
  </nav>


<!--
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><span>País:</span><br><a href="#">Mexico</a></li>
      <li class="breadcrumb-item"><span>Región:</span><br><a href="#">Noroeste</a></li>
      <li class="breadcrumb-item"><span>División:</span><br><a href="#">Pacífico</a></li>
      <li class="breadcrumb-item"><span>Plaza:</span><br><a href="#">Culiacan</a></li>
      <li class="breadcrumb-item active" aria-current="page"><span>Célula:</span><br>C1 Cul</li>
    </ol>
  </nav>

-->